<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBgqaDlbJaoIu7RXUwLA6P_mb_yrt-GCwo</string>
	<key>GCM_SENDER_ID</key>
	<string>880033273889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Varad.Final-Exam</string>
	<key>PROJECT_ID</key>
	<string>ios2finalexam</string>
	<key>STORAGE_BUCKET</key>
	<string>ios2finalexam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880033273889:ios:24ef356891a73b0d256b60</string>
</dict>
</plist>